@import url('https://fonts.googleapis.com/css?family=Raleway');
 @import url('https://fonts.googleapis.com/css?family=Bitter');
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: rgba(226,230,231, .5);
	font-size: 16px;
	font-family: Raleway, ariel, sans-serif;
	color: #222222;
	text-align: center;
	position: relative;
}

/* CSS comments look like this */

header {
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	height: 100px;
	align-items: center;
	background-color: #e2e6e7;
}

/*THe ID should all have # because they are ID not class */

#uoulogo{
	/* width: 5em; */
	margin: 0 0 0 20px;
	height: 100%;
	max-width: 200px:;
}

a{
	color: #222;
	text-decoration: none;
}

nav{
	/* margin: auto; */
	/* padding-bottom: 20px; */
	font-family: Raleway, sans-serif;
	/* text-align:right; */
}

nav a {
	text-decoration: none;
	padding: 20px;
	display: inline-block;
	/* float: right; */
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

a:hover{
	background-color: #aaaaaa
}

selector:pseudo-class {
    property:value;
}



.centered {
    position: absolute;
    top: 60%;
    left: 23%;
    transform: translate(-50%, -50%);
	background-color: white;
	padding: 6em;
	max-width: 600px;

}

#hero{
	position: relative;
}
#hero img{
	width: 100%;
	padding: 20px;
}


h2 {
    width: 100%;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    background-color: black;
    padding: 15px 5px 15px 5px;
    color: white;
    margin: 20px 0 0 0;
}



form{
	    display: block;
    text-align: left;
    width: 400px;
    margin: 2em auto 0;
    font-size: 16px;
    opacity: 0.7;
}

label{
    display: block;
    padding-top: 10px;
}

input[type="text"] {
	width: 400px;
	padding: 10px;
	margin: 5px 0;
}

input[type="checkbox"] {
    margin: 1em;
}

input[type="submit"] {
    width: 100%;
    padding: 1em;
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    font-family: Raleway; sans-serif;
}

.cta {
	background:#3374FF;
	color:#fff;
	display:inline-block;
	margin-top:1em;
	padding:1em 2em;
	text-decoration: none;
}

#introtext{
	font-family: Raleway, serif;
	font-size: 30px;
	color: black
}

h3{
	font-size: 16px;
	padding: 10px 0 0 0;
}


.page-container{
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}
.page-container section{
	width: 100%;
	float: left;
	padding: 40px 0;
}


section#content1 {
    display: inline-flex;
}


img#article1 {
    width: 700px;
    max-width: 100%;
}

.article.block1 {
    background-color: white;
    margin: 40px -60px;
    padding: 25px;
    max-width: 400px;
    max-height: 266px;
}


p {
    margin: 20px 0 0 0;
}


button {
    margin: 1em;
    padding: 1em;
    background-color: black;
    color: white;
    padding: 15px 60px;
    cursor: pointer;
    opacity: 0.7;
    border: none;
    margin-top: 4em;
}


section#content2 {
    display: block;
}

.article.block2 {
    background-color: white;
    margin: 40px 0px;
    padding: 25px;
    max-width: 400px;
    max-height: 266px;
    position: absolute;
}

img#article1 {
    width: 700px;
    max-width: 100%;
}



/* article 
.article {
  width: 33.33%;
  padding: 20px;
  float: left;
  background-color: white;
}
.article .article-inner{
	width: 100%;
	padding: 20px;
	color: black;
}

#article1 .article-inner {
  background-color: #;
}

#article2 .article-inner{
  background-color: #;
}

#article3 .article-inner{
  background-color: #;
}
*/





/* social */

.social-networks{
	width: 100%;
	float: left;
	display: flex;
	justify-content: center;
}
.social-networks li{
	padding: 20px;

}





.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}



	
ul{
	list-style: none;
}

footer{
	background-color:#d8dede;
	margin:auto;
	padding: 20px;
	clear: both;
}




