body {
	background-color:#ffffff;
	font-family: Ariel
	font-size: 16px;
	color: #222222;
	text-align: center;
	position: relative;
}

#uoulogo{
	width: 10%

}

header {
	background-color: #e2e6e7
}

nav{
	margin:auto;
	padding-bottom: 20px;
	font-style: Gotham
	text-align:right;
}

a {
	color: #000000;
	text-decoration: none;
}

nav a {
	color: #000000;
	margin: 20px;
}

#heroimage{
	width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


main{
	background-color: #ffffff;
	padding: 20px;
}

section{

}


footer{
	background-color:#d8dede;
	margin:auto;
	padding: 20px;
	text-align: center;
}
